<h1>My Goals</h1>

<div class="container">

	<div class="row">
		<blockquote class="text-center text-lg">
			<p>{{quote.quote}}</p>
			<footer><cite>{{quote.author}}</cite></footer>
		</blockquote>
	</div>
	
</div>
<div class="container">

	<div class="row">
		<app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
	</div>
	
</div>

<div class="container">

	<div class="row" *ngFor="let goal of goals;let i = 'index'">

		<div class="row">

			<h4 id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
			<button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>

		</div>
		
		<div class="row" *ngIf="goal.showDescription">

			<app-goal-details  [goal]='goal' (isComplete)= 'deleteGoal($event,i)'></app-goal-details>

		</div>
		
	</div>
 
</div>
<p *ngIf='goals.length > 5'>You have too many goals</p>

