<div class="container-fluid">
	<div class="row">
		<form #goalForm='ngForm'>
			<div class="form-group">

				<label for="name">Name</label>
				<input type="text" required class="form-control" id="name" [(ngModel)]="newGoal.name" name="name">

				Display {{newGoal.name}}

			</div>
			<div class="form-group">

				<label for="description">Description</label>
				<textarea class="form-control" id="description" rows="4" required></textarea>
				
			</div>
			<div class="form-group">
				<label for="complete">Completion</label>
				<input type='date' id="complete" required>
				
			</div>
			<button type="submit" class="btn btn-success btn-lg">Add Goal</button>
		</form>
	</div>
</div>
