<div class="container-fluid">
	<div class="row">
		<form (ngSubmit)='submitGoal()' #goalForm='ngForm'>
			<!-- Name Form -->
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text"  class="form-control" id="name" [(ngModel)]="newGoal.name" name="name" #name="ngModel" required>
				
				<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
					<p> Name is Required</p>
					
				</div>
			</div>
			<!-- Description Input -->
			<div class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" id="description" rows="4" [(ngModel)]="newGoal.description" name="description" #description="ngModel" required></textarea>
				<div [hidden]="description.valid||description.pristine" class="alert alert-danger">
					<p> Description is Required</p>
					
				</div>
				
			</div>
			<!-- Date Input -->
			<div class="form-group">
				<label for="complete">Completion</label>
				<input type='date' id="complete" [(ngModel)]="newGoal.completeDate" name="completeDate" #completeDate="ngModel" required >
				<div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
					<p> Complete Date is Required</p>
					
				</div>
				
			</div>
			<button type="Submit" class="btn btn-success btn-lg" [disabled]="!goalForm.form.valid">Add Goal</button>
		</form>
	</div>
</div>